
/* HEADER ---------------------------------------------------------------------------------------------------------*/





/* MAIN ---------------------------------------------------------------------------------------------------------*/


.cuadradoPrincipal{
    height: 46vw;
    background-image:url(assets/interior-sala-cocina-dibujos-animados-casa-fondo-vectorial-refrigerador-muebles-cocina-dentro-casa-acogedor-apartamento-armario-modular-refrigerador-cocina-equipo-hervidor_107791-23665.avif);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}


.contenedorForm{
    background-color: rgba(255, 255, 255, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    flex-direction: column;
    padding: 50px;
    border-style: solid;
    border-color: black;
    border-radius: 15px;

}


/* FOOTER -----------------------------------------------------------------------------------------------------*/

footer {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    height: fit-content;
    background-color: beige;
    justify-items: center;
    align-items: center;
    flex-wrap: nowrap;
}


.icono{
    width: 3vw;
    
    
}